#description>div {
    display: flex;
}

#description>div>p {
    display: block;

    width: 45%;
    font-size: 1.25rem;
    line-height: 1.7rem;
}

#description>div>img {
    display: block;

    width: 55%;
    object-fit: cover;

    margin-left: 3rem;
}
